/TPI/ATV-01-SATIO/aula02_2_ex01/target/
/TPI/ATV-01-SATIO/aula02_2_ex2/target/
/TPI/ATV-01-SATIO/aula02_2_ex3/target/
/TPI/ATV-01-SATIO/AULA-2-1/exercicio02Aula02/target/
/TPI/ATV-01-SATIO/AULA-2-1/Exercicio03Aula02/target/
/TPI/ATV-01-SATIO/AULA-2-1/exercicio05aula02/target/
/TPI/ATV-01-SATIO/AULA-2-1/exercicio06aula02/target/
/TPI/ATV-01-SATIO/saitado/Exemplo5Java/target/
/TPI/exercicios-aula-01/Exemplo5Java/target/
/TPI/Exemplo_Case_IF/target/
/TPI/aula-02-3/Exemplo_Case_IF/target/
/TPI/aula-02-3/aula_02_3_exe_01/target/
/TPI/aula-02-4/aula_02_3_exe_01/target/
/TPI/aula-02-4/aula_02_4_exe_01/target/
/TPI/aula-02-4/aula_02_4_exe_02/target/
